.hero-container {
    position: relative;
}

.hero-container img {
    width: 40rem;
    height: 30rem;
    background-size: cover;
    display: block;
    position: absolute;
    left: 46rem;
    top: 4rem;
    border-radius: 3rem;
}

.hero-text{
    font-size: 20px; 
}

.hero-container .linkedinIcon{
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
    display: relative;
    top: 21rem;
    left: 0rem;
    cursor: pointer;
}
.hero-container .linkedinIcon:hover{
    width: 3rem;
    height: 3rem;
}

.hero-container .githubIcon{
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
    display: relative;
    top: 21rem;
    left: 5rem;
    cursor: pointer;
}
.hero-container .githubIcon:hover{
    width: 3rem;
    height: 3rem;
}


.hero-container .resumeIcon{
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
    display: relative;
    top: 21rem;
    left: 10rem;
    cursor: pointer;
}

.hero-container .resumeIcon:hover{
    width: 3rem;
    height: 3rem;
}
