.skillsTitle{
    font-family: sans-serif;
    position: absolute;
    left: 50%;
    top: 105rem;
    transform: translateX(-50%);
    text-align: center;
    font-size: 60px;
}

.skillIcons{
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    column-gap: 35px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 47rem;
}


.java-icon{
    margin: 1rem 1rem;
    margin-right: -1rem;
    height: 13rem;
    width: auto;
    transition: transform 0.1s ease;
}
.java-icon:hover{
    cursor: pointer;
}

.cpp-icon{
    margin: 1rem 1rem;
    height: 12rem;
    width: auto;
}

.cpp-icon:hover{
    cursor: pointer;
}

.python-icon{
    margin: 1rem 1rem;
    height: 11rem;
    width: auto;
}

.python-icon:hover{
    cursor: pointer;
}

.mysql-icon{
    margin: 1rem 1rem;
    margin-top: -3rem;
    height: 20rem;
    width: auto;
}

.mysql-icon:hover{
    cursor: pointer;
}

.node-icon{
    margin: 1rem 1rem;
    margin-top: 1.5rem;
    height: 12rem;
    width: auto;
}

.node-icon:hover{
    cursor: pointer;
}

.js-icon{
    margin: 1rem 1rem;
    margin-left: 4rem;
    height: 10rem;
    width: auto;
}

.js-icon:hover{
    cursor: pointer;
}

.css-icon{
    margin: 1rem 1rem;
    margin-left: 1.8rem;
    margin-top: 1.3rem;
    height: 12.5rem;
    width: auto;
}

.css-icon:hover{
    cursor: pointer;
}

.html-icon{
    margin: 1rem 1rem;
    margin-left: 1rem;
    margin-top: 1.3rem;
    height: 12.5rem;
    width: auto;
}

.html-icon:hover{
    cursor: pointer;
}


.react-icon{
    margin: 1rem 1rem;
    margin-left: 1rem;
    margin-top: 0rem;
    height: 12rem;
    width: auto;
}

.react-icon:hover{
    cursor: pointer;
}

.studio-icon{
    margin: 1rem 1rem;
    margin-left: 1rem;
    margin-right: 0rem;
    margin-top: -3rem;
    height: 17rem;
    width: auto;
}


.studio-icon:hover{
    cursor: pointer;
}

.mongo-icon{
    height: 15.5rem;
    width: auto;
}

.mongo-icon:hover{
    cursor: pointer;
}

.pandas-icon{
    margin: 1rem 1rem;
    margin-left: 0rem;
    margin-right: -2rem;
    margin-top: -1.2rem;
    height: 17rem;
    width: auto;
}

.pandas-icon:hover{
    cursor: pointer;
}

.numpy-icon{
    margin: 1rem 1rem;
    margin-top: -0.5rem;
    height: 16rem;
    width: auto;
}

.numpy-icon:hover{
    cursor: pointer;
}

.plotly-icon{
    margin: 1rem 1rem;
    margin-left: -0.5rem;
    margin-top: -1rem;
    height: 17rem;
    width: auto;
}

.plotly-icon:hover{
    cursor: pointer;
}


.aws-icon{
    margin: 1rem 1rem;
    margin-left: -1rem;
    margin-top: -1rem;
    height: 14rem;
    width: auto;
}

.aws-icon:hover{
    cursor: pointer;
}

.advSkills{
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    position: relative;
    top: 51rem;
    left: 3rem;
}

.advCard{
    font-family: sans-serif;
    position: relative;
    left: 23rem;
    top: 53rem;
    transform: translateX(-50%);
    font-size: 25px;
    line-height: 2;
    width: 40rem;
    background-color: rgb(31,35,40);
    border-radius: 10px;
    padding: 1rem 0rem;
    padding-left: 3rem;
}


.purpleGif{
    position: relative;
    z-index: -1;
    left: 47rem;
    top: 23rem;
    height: 37rem;
}