.skillsTitle{
    font-family: sans-serif;
    position: absolute;
    left: 50%;
    top: 189vw;
    transform: translateX(-50%);
    text-align: center;
    font-size: 5vw;
}

.skillIcons{
    top: 143vw;
    display: flex;
    flex-wrap: wrap;
    row-gap: 6vw;
    column-gap: 8vw;
    justify-content: center;
    align-items: center;
    position: relative;
}


.java-icon{
    margin: 1vw 1vw;
    margin-right: -1vw;
    height: 13vw;
    width: auto;
    transition: transform 0.1s ease;
}
.java-icon:hover{
    cursor: pointer;
}

.cpp-icon{
    margin: 1vw 1vw;
    height: 12vw;
    width: auto;
}

.cpp-icon:hover{
    cursor: pointer;
}

.python-icon{
    margin: 1vw 1vw;
    height: 11vw;
    width: auto;
}

.python-icon:hover{
    cursor: pointer;
}

.mysql-icon{
    margin: 1vw 1vw;
    margin-top: -3vw;
    height: 20vw;
    width: auto;
}

.mysql-icon:hover{
    cursor: pointer;
}

.node-icon{
    margin: 1vw 1vw;
    margin-top: 1.5vw;
    height: 12vw;
    width: auto;
}

.node-icon:hover{
    cursor: pointer;
}

.js-icon{
    margin: 1vw 1vw;
    margin-left: 4vw;
    height: 10vw;
    width: auto;
}

.js-icon:hover{
    cursor: pointer;
}

.css-icon{
    margin: 1vw 1vw;
    margin-left: 1.8vw;
    margin-top: 1.3vw;
    height: 12.5vw;
    width: auto;
}

.css-icon:hover{
    cursor: pointer;
}

.html-icon{
    margin: 1vw 1vw;
    margin-left: 1vw;
    margin-top: 1.3vw;
    height: 12.5vw;
    width: auto;
}

.html-icon:hover{
    cursor: pointer;
}


.react-icon{
    margin: 1vw 1vw;
    margin-left: 1vw;
    margin-top: 0vw;
    height: 12vw;
    width: auto;
}

.react-icon:hover{
    cursor: pointer;
}

.studio-icon{
    margin: 1vw 1vw;
    margin-left: 1vw;
    margin-right: 0vw;
    margin-top: -3vw;
    height: 17vw;
    width: auto;
}


.studio-icon:hover{
    cursor: pointer;
}

.mongo-icon{
    height: 15.5vw;
    width: auto;
}

.mongo-icon:hover{
    cursor: pointer;
}

.pandas-icon{
    margin: 1vw 1vw;
    margin-left: 0vw;
    margin-right: -2vw;
    margin-top: -1.2vw;
    height: 17vw;
    width: auto;
}

.pandas-icon:hover{
    cursor: pointer;
}

.numpy-icon{
    margin: 1vw 1vw;
    margin-top: -0.5vw;
    height: 16vw;
    width: auto;
}

.numpy-icon:hover{
    cursor: pointer;
}

.plotly-icon{
    margin: 1vw 1vw;
    margin-left: -0.5vw;
    margin-top: -1vw;
    height: 17vw;
    width: auto;
}

.plotly-icon:hover{
    cursor: pointer;
}


.aws-icon{
    margin: 1vw 1vw;
    margin-left: -1vw;
    margin-top: -1vw;
    height: 14vw;
    width: auto;
}

.aws-icon:hover{
    cursor: pointer;
}

.advSkills{
    color: white;
    font-family: sans-serif;
    font-size: 2.7vw;
    position: relative;
    top: 148vw;
    left: 3vw;
}

.advCard{
    font-family: sans-serif;
    position: relative;
    left: 25vw;
    top: 150vw;
    transform: translateX(-50%);
    font-size: 1.8vw;
    line-height: 2;
    width: 45vw;
    background-color: rgb(31,35,40);
    border-radius: 10px;
    padding: 1vw 0vw;
    padding-left: 3vw;
}

.purpleGif{
    position: relative;
    z-index: -1;
    left: 53vw;
    top: 114.5vw;
    height: 41vw;
}