.contact-title{
    font-size: 4.3vw;
    color: white;
    font-family: sans-serif;
    position: relative;
    text-align: center;
    top: 117vw;
}

.contact-subtitle{
    font-size: 2vw;
    color: white;
    font-family: sans-serif;
    position: relative;
    max-width: 60vw;
    left: 24%;
    top: 118vw;
}

.contact-form{
    color: white;
    font-family: sans-serif;
    position: relative;
    max-width: 60vw;
    left: 22%;
    top: 117vw;
}

.name{
    margin-top: 3vw;
    width: 57vw;
    height: 3vw;
    background-color: rgb(31,35,40);
    font-size: 1.4vw;
    padding-left: 0.5vw;
    color: white;
    border: none;
}

.email{
    margin-top: 1vw;
    width: 57vw;
    height: 3vw;
    color: white;
    font-size: 1.4vw;
    padding-left: 0.5vw;
    background-color: rgb(31,35,40);
    border: none;
}

.msg{
    margin-top: 1vw;
    padding-top: 0.3vw;
    width: 57vw;
    height: 10vw;
    font-size: 1.4vw;
    font-family: sans-serif;
    padding-left: 0.5vw;
    background-color: rgb(31,35,40);
    color: white;
    border: none;
}

.submitBtn{
    width: 7.5vw;
    height: 3.5vw;
    border-radius: 1rem;
    background-color: rgb(156, 20, 156);
    font-size: 1.7vw;
    font-family: sans-serif;
    font-weight: 800;
    color: rgb(31,35,40);
    position: absolute;
    left: 49.7vw;
    top: 24vw;
    transition: 0.5s ease;
}

.submitBtn:hover{
    color: white;
}
.submitBtn:active{
    color:rgb(210, 48, 210);
}

.email-text{
    position: relative;
    top: 1vw;
    left: 0.5vw;
    font-size: 1.4vw;
}
