.contact-title{
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    position: relative;
    text-align: center;
    top: 28rem;
}

.contact-subtitle{
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    position: relative;
    max-width: 60px;
    left: 22%;
    top: 28rem;
}

.contact-form{
    color: white;
    font-family: sans-serif;
    position: relative;
    max-width: 60px;
    left: 22%;
    top: 26rem;
}

.name{
    margin-top: 3rem;
    width: 50rem;
    height: 2.5rem;
    background-color: rgb(31,35,40);
    font-size: 25px;
    padding-left: 0.5rem;
    color: white;
    border: none;
}

.email{
    margin-top: 1rem;
    width: 50rem;
    height: 2.5rem;
    color: white;
    font-size: 25px;
    padding-left: 0.5rem;
    background-color: rgb(31,35,40);
    border: none;
}

.msg{
    margin-top: 1rem;
    padding-top: 0.3rem;
    width: 50rem;
    height: 10rem;
    font-size: 25px;
    font-family: sans-serif;
    padding-left: 0.5rem;
    background-color: rgb(31,35,40);
    color: white;
    border: none;
}

.submitBtn{
    width: 7rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: rgb(156, 20, 156);
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 800;
    color: rgb(31,35,40);
    position: absolute;
    left: 43rem;
    top: 21rem;
    transition: 0.5s ease;
}

.submitBtn:hover{
    color: white;
}
.submitBtn:active{
    color:rgb(210, 48, 210);
}
