.aboutMeTitle {
    font-family: sans-serif;
    position: absolute;
    left: 50%;
    top: 68vw;
    transform: translateX(-50%);
    text-align: center;
    font-size: 4.5vw;
}


.memoji{
    position: absolute;
    top: 70vw;
    left: -22vw;
    z-index: -1;
    height: 65vw;
    width: 85vw;
}


.textContainer{
    font-family: sans-serif;
    position: absolute;
    left: 70%;
    top: 78vw;
    transform: translateX(-50%);
    font-size: 1.9vw;
    line-height: 2;
    width: 50vw;
    background-color: rgb(31,35,40);
    border-radius: 10px;
    padding: 1rem 2rem;
}




