.aboutMeTitle {
    font-family: sans-serif;
    position: absolute;
    left: 50%;
    top: 48rem;
    transform: translateX(-50%);
    text-align: center;
    font-size: 60px;
}


.memoji{
    position: absolute;
    top: 52rem;
    left: -10%;
    z-index: -1;
}


.textContainer{
    font-family: sans-serif;
    position: absolute;
    left: 65%;
    top: 57rem;
    transform: translateX(-50%);
    font-size: 22px;
    line-height: 2;
    width: 50rem;
    background-color: rgb(31,35,40);
    border-radius: 10px;
    padding: 1rem 2rem;
}





